html,
body {
  background-color: #f1f4f4;
  color: #343c48;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  text-align: center;
}

.primary {
  background-color: #f14ebd;
  border-radius: 3px;
  border: 0;
  color: white;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.5rem 1.2rem;
  position: relative;
  text-transform: uppercase;
  transition: all 0.3s;
}

.primary:hover {
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
}

.primary:active {
  top: 0.1rem;
}

.primary:disabled {
  background-color: lightgray;
}

.primary:disabled:hover {
  box-shadow: none;
}

.primary:focus,
.text-input:focus {
  outline: 0;
}

.text-input {
  background-color: gainsboro;
  border-radius: 3px;
  border: 1px solid #f1f4f4;
  color: #343c48;
  padding: 0.5rem 0.4rem;
  width: 10rem;
}

.text-input.warning {
  border-color: red;
}

.versus {
  font-size: 1.8rem;
  margin: 0 1.4rem;
}

.code {
  background-color: #232c36;
  color: white;
  display: inline-block;
  font-family: "Cutive Mono", monospace;
  height: 25rem;
  overflow: auto;
  padding: 0.3rem;
  text-align: left;
  width: 30rem;
}
